                <div class="mdl-card__media">
                    <img alt="" border="0" class="article-image" src="<%=@image_link%>">
                </div>
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text"><%=@title%></h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <%=@main_content%>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-button--colored mdl-button--mini-icon mdl-js-button mdl-js-ripple-effect mdl-button--accent"
                       href="<%=@link_code%>" target="_blank">
                        <i aria-hidden="true" class="material-icons">code</i>
                        <span>Code</span>
                    </a>
                    <a class="mdl-button mdl-button--colored mdl-button--mini-icon mdl-js-button mdl-js-ripple-effect mdl-button--accent"
                       href="<%=@link_store%>" target="_blank">
                        <i aria-hidden="true" class="material-icons">android</i>
                        <span>Android</span>
                    </a>
                    <a class="mdl-button mdl-button--colored mdl-button--mini-icon mdl-js-button mdl-js-ripple-effect mdl-button--accent"
                       disabled="true">
                        <i aria-hidden="true" class="material-icons">phone_iphone</i>
                        <span>Ios</span>
                    </a>
                </div>
                